body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	font-family: 'Signika Negative', sans-serif;
}

a {
	color: #39f;
	text-decoration: none;
	transition: all 0.25s;

	&:hover {
		color: #39fc;
	}
}

.app {
	max-width: 900px;
	margin: 0 auto;
	padding: 14px;
}

.menu {
	display: flex;
	flex-direction: row;
	gap: 4px;
	justify-content: center;
	flex-wrap: wrap;
	padding: 14px 0;
	width: 100%;

	button {
		background-color: transparent;
		border-color: transparent;
		border-style: solid;
		border-width: 0 0 2px 0;
		color: #ccc;
		cursor: pointer;
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		font-size: 0.8em;
		font-weight: bold;
		gap: 7px;
		justify-content: center;
		padding: 0.5em 1.5em;
		transition: all 0.5s;

		.icon {
			font-size: 1em;
			transform: translateY(1px);
		}

		.bag {
			background-color: #9993;
			border-radius: 7px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 4px 7px;
			margin-top: -1px;
			font-size: 0.6em;
			text-align: center;
			transition: background-color 0.5s;

			&:empty {
				display: none;
			}
		}

		&:hover {
			border-bottom-color: #ccc;
			color: #222;
		}

		&.selected {
			border-bottom-color: #39f;
			color: #222;

			.bag {
				background-color: #39fc;
				color: #fff;
			}
		}
	}
}

.content {
	margin: 0 auto;
	width: 100%;

	h1 {
		display: flex;
		flex-direction: row;
		gap: 7px;
		padding-top: 14px;
		padding-bottom: 7px;

		.icon {
			color: #000;
			font-size: 1em;
		}
	}

	& > * {
		animation: intro 0.5s;
	}

	.biography {
		display: flex;
		flex-direction: column;
	}

	.experiences {
		display: flex;
		flex-direction: column;
	}

	.school {
		display: flex;
		flex-direction: column;
		gap: 14px;
	}

	.courses {
		display: flex;
		flex-direction: column;
		gap: 14px;
	}

	.projects {
		display: flex;
		flex-direction: column;
		gap: 14px;

		.section {
			flex-direction: row;
			overflow: hidden;
			min-width: 100%;

			.info {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				gap: 7px;
			}

			i {
				color: #6741c3;
			}

			a {
				font-size: 0.8em;
				white-space: pre-line;
			}

			img {
				box-shadow: #ccc 0 0 4px;
				border-radius: 7px;
				object-position: left;
				object-fit: cover;
				height: 100px;
			}
		}
	}

	.companies {
		display: flex;
		flex-direction: column;
		gap: 14px;

		.section {
			.hashtags {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				gap: 7px;

				.exists {
					color: #6741c3;
				}
			}
		}

		.hashtagFilter {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 4px;

			.label {
				background-color: #39f;
				border-radius: 7px;
				color: #fff;
				cursor: pointer;
				display: flex;
				flex-direction: row;
				font-size: 0.6em;
				font-weight: normal !important;
				gap: 4px;
				padding: 4px 7px;
				transition: all 0.5s;

				&:hover {
					background-color: #39f9;
				}
			}

			&.filter {
				.label {
					background-color: #6741c3;
					cursor: default;

					.icon {
						color: #fff;
						cursor: pointer;
						transform: translateY(2px);
					}

					&:hover {
						background-color: #6741c3cc;
					}
				}
			}
		}
	}

	p,
	b {
		color: #aaa;
		font-size: 0.8em;
	}

	b {
		color: #777;
	}

	small {
		color: #aaa;
		font-size: 0.8em;
	}

	span {
		color: #aaa;
		display: block;
		font-size: 0.8em;
	}

	.section {
		background-color: #fff;
		box-shadow: #ddd 0 0 4px;
		border-color: #333;
		border-style: solid;
		border-width: 0 0 0 4px;
		display: flex;
		flex-direction: column;
		gap: 7px;
		padding: 14px;

		&.current {
			border-color: #39f;
		}

		p {
			margin: 0;
		}

		i {
			color: #39f9;
			font-size: 0.8em;
			font-family: Consolas;
		}
	}
}

@keyframes intro {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media print {
	* {
		print-color-adjust: exact !important;
	}
	.menu {
		display: none;
	}

	.contentPane {
		display: flex !important;
		page-break-before: always;

		&.biography {
			page-break-before: avoid;
		}
	}
}

@media only screen and (max-width: 700px) {
	.app {
		.mainHeader {
			flex-direction: column;

			.profilePicture {
				img {
					margin: 0 auto;
				}
			}
		}

		.menu {
			button {
				font-size: 0.7em;
				flex-direction: column;
				justify-content: center;
				flex-grow: 0;

				.icon {
					margin: 0 auto;
				}
			}
		}
	}
}
