@import url('https://fonts.googleapis.com/css2?family=Inter');

* {
	box-sizing: border-box;
	font-family: 'Inter', serif;
	margin: 0;
	padding: 0;

	&::-webkit-scrollbar {
		width: 0;
	}
}

a {
	color: #39f;
	text-decoration: none;
	transition: all 0.25s;

	&:hover {
		color: #39fc;
	}
}

.app {
	background: #FFF;
	display: flex;
	flex-direction: column;
	gap: 14px;
	height: 100%;
	overflow: auto;
	width: 100%;
}

.page {
	align-self: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.sidebar {
	display: flex;
	flex-direction: row;
	gap: 14px;
	padding: 21px 21px 0;
}

.pictureAndLinks {
	display: flex;
	flex-direction: column;
	width: 200px;

	img {
		border-bottom: 7px solid #39f;
		height: 200px;
		object-fit: cover;
		width: 200px;
	}
}

.userInfo {
	display: flex;
	flex-direction: column;
	gap: 7px;

	h4 {
		padding-top: 21px;
	}

	a, p {
		align-items: center;
		display: flex;
		flex-direction: row;
		gap: 7px;
	}

	span {
		color: #666;
		font-size: 18px;
		font-weight: normal;
	}
}

.logos {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 14px 7px;

	svg {
		height: 24px;
		width: 24px;
	}
}

.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 21px;

	section {
		border-left: 7px solid #333;
		box-shadow: #ccc 0 0 4px;
		display: flex;
		flex-direction: column;
		gap: 4px;
		min-width: 100%;
		overflow: hidden;
		padding: 14px;

		&.current {
			border-color: #39f;
		}

		i {
			color: #6741c3;
		}

		a {
			white-space: pre-line;
		}

		p {
			color: #666;
			margin-block-end: 7px;
		}

		ul {
			li {
				margin-block-end: 4px;
				margin-inline-start: 21px;
			}
		}
	}
}

.companyInfo {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 4px;

	small {
		color: #aaa;
	}
}


.companyHashtags {
	display: flex;
	flex-direction: row;
	gap: 7px;
}

.companies {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.printButton {
	cursor: pointer;
	display: flex;
	font-size: 28px;
	transition: all 0.25s;

	&:hover {
		color: #39f;
	}
}